.service-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 100%; /* Allow cards to expand vertically */
    max-height: 350px; /* Maximum height */
    overflow: auto; /* To handle overflow content */
}

.service-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.service-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.price {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10px 0;
}

.buy-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
}

.buy-button:hover {
    background-color: #0056b3;
}

.service-image {
    max-width: 20%;
}

.services-title{
    text-align: center;
}