:root {
  --primaryBlue: #0057B8; /* Replace with actual color value */
  --secondaryBlue: #003C82; /* Replace with actual color value */
  --lightBlue: #B3D1FF;   /* Replace with actual color value */
  --white: '#FFFFFF';
}

.App {
  text-align: center;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


body {
  padding-top: 100px; /* Adjust based on the actual height of your header */
}

.main-content {
  margin-left: 10%;
  margin-right: 10%;
}

/* For smaller screens, reduce the margins */
@media (max-width: 768px) {
  .main-content {
      margin-left: 5%;
      margin-right: 5%;
  }
}